body {
    font-family: Arial, sans-serif;
    text-align: center;
    
}

.heading {
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.game-area {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.correct-img {
    display: none; /* Initially hidden */
    margin-top: 10px; 
    width: 50px; 
    height: auto; /* Maintain aspect ratio */
    border: 2px solid green; /* Border color for correct answer */
    border-radius: 5px; /* Rounded corners */
}

.wrong-img {
    display: none; /* Initially hidden */
    margin-top: 10px; 
    width: 50px; 
    height: auto; /* Maintain aspect ratio */
    border: 2px solid red; /* Border color for wrong answer */
    border-radius: 5px; /* Rounded corners */
}
