body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: grey;
}

h1 {
    color: black;
    text-align: center;
}

#quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}